<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome" />
	<test name="Test">
		<parameter name="services" value="Check Balances" />
		<parameter name="onlineserv" value="Bill Pay" />
		<parameter name="reopened" value="reopened"></parameter>
		<parameter name="billpaynews" value="billpaynews"></parameter>
		<parameter name="amttransfernews" value="amounttransfernews"></parameter>
		<classes>
			<class name="com.bank.scripts.TestLoginPage" />
			<class name="com.bank.scripts.TestServices" />
			<class name="com.bank.scripts.TestNewsPage"></class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
